In [42]:
 x , y = 5 , 11

print(x)
print(y)

5
11

In [44]:
student_attendance = {"Rolf": 96, "Bob": 80, "Anne": 100}

for student, attendance in student_attendance.items():
    print(f"{student}: {attendance}")

Rolf: 96
Bob: 80
Anne: 100

In [46]:
# another example:

people = [("Bob", 42, "Mechanic"), ("James", 24, "Artist"), ("Harry", 32, "Lecturer")]

for name, age, profession in people:
    print(f"Name: {name}, Age: {age}, Profession: {profession}")

Name: Bob, Age: 42, Profession: Mechanic
Name: James, Age: 24, Profession: Artist
Name: Harry, Age: 32, Profession: Lecturer

In [48]:
# better approach

people = [("Bob", 42, "Mechanic"), ("James", 24, "Artist"), ("Harry", 32, "Lecturer")]

for person in people:
    print(f"Name: {person[0]}, Age: {person[1]}, Profession: {person[2]}")

Name: Bob, Age: 42, Profession: Mechanic
Name: James, Age: 24, Profession: Artist
Name: Harry, Age: 32, Profession: Lecturer

In [50]:
# ignoring values with underscores

person = ("Bob", 42, "Mechanic")
name, _, profession = person

print(name, profession)  # Bob Mechanic

Bob Mechanic